@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
}

:root {
    --primary-color: #F07807;
    --secondary-color: #FBDDC1;
    --default-shadow: 0px 4px 4px #0004;
    --default-padding: 0px 80px;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family:  "Poppins", sans-serif;
  background-color: var(--second-color);
}

header {
    border-radius: 15px;
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    z-index: 99;
}

header menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

header li {
    padding: 4px 8px;
    transition: .5s;
}

header li:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 4px var(--default-shadow);
}

header button {
    display: flex;
    height: 48px;
    width: 120px;
    background-color: var(--secondary-color);
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 4px var(--default-shadow);
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 800;
    color: var(--primary-color);
}

section {
    height: 100vh;
    padding: var(--default-padding);
}

.home {
    display: grid;
    grid-template-rows: 70% 30%;

    background-image: url(./img/bg_home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    
}

.hero {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}

.hero h2 {
    width: 558px;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 64px;
}

.hero span {
    color: var(--primary-color);
}

.container_produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza {
    position: relative;
    display: flex;
    border-radius: 12px;
}

.add_pizza {
    position: absolute;
    right: -18.5px;
    top: -18.5px;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: var(--primary-color);
    font-size: 32px;
    color: white;
    opacity: 0;
    transition: .3s;
}

.pizza:hover .add_pizza {
    opacity: 1;
}

.container_info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    background-color: #0008;
    width: 100%;
    height: 36px;
    bottom: -36px;
    border-radius: 0 0 12px 12px;
    padding: 0 12px 0 12px;
    padding: 0 12px;
}

.container_info p { 
    font-size: 12px;
    width: 120px;
    color: white;
}

.container_info span {
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    font-size: 12px;
    border: 2px white solid;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: white;
}

.animacao {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}

.pizza:hover .container_info {
    bottom: 0;
}

.cardapio {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.titulo_secao {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 24px;
}

.titulo_secao h3 {
    font-size: 40px;
    color: var(--primary-color);
    
}

.opcoes_cardapio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    border-bottom: 4px solid var(--primary-color);
}

.titulo_opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.5rem;
}

.opcoes_cardapio.bebida {
    border: none;
}

.pizza.bebida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 16px;
    transition: .5s;
}

.pizza.bebida:hover {
    box-shadow: 2px 2px 8px #ccc;
}

.pizza.bebida .valor {
    color: var(--primary-color);
    font-weight: 600;
    width: 100%;
}
.pizza.bebida .descricao {
    font-size: 8px;
    font-weight: 600;
}

.servicos {
    background-color: var(--secondary-color);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    /*Padding Block para definir o padding para o top e bottom*/
    padding-block: 32px;
}

.opcoes_servicos{
    display: flex;
    justify-content: space-between;
}

.servico_card{
    width: 400px;
    height: 500px;
    border:4px solid var(--primary-color);
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 43px;
    text-align: center;
}

.servico_card img{
    /*Filter é um modo para fazer sombra desconsiderando o alpha channel (transparencia)*/
    filter: drop-shadow(0px 4px 3px #0004);
}

.servico_card h4{
    font-size:43px;
    font-weight: 500;
    color: var(--primary-color);
    text-shadow: var(--default-shadow);
    text-shadow: #0004;
}

.servico_card p{
    font-size:1.2rem;
    text-shadow: var(--default-shadow);
}


/*Footer*/
footer{
    height: 526px;
    background-color: var(--primary-color); /*PLACEHOLDER, enquanto não tiver conteúdo*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
}

.contatos_container{
    display:flex;
    flex-grow: 1;
    width: 70%;
    justify-content: space-between;
}

.contatos_item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    font-size: 16px;
    padding-top: 120px;
    gap: 0.7rem;
}

.contatos_item.logo{
    justify-content: center;
    padding:0;
}

.contatos_item h4{
    font-size: 1.5rem;
    font-weight: 400;
}

.contatos_item menu{
    display:flex;
    gap: 12px;
    flex-direction: column;
    font-size: 1rem;
    font-weight:300;
}

.contatos_item li{
    display: flex;
    gap: 1.5rem;
}

.social a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #FFF;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    transition: 0.5s;

}

.social a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.creditos{
    height: 72px;
    border-top: 1.5px white solid;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 0.75rem;
    font-weight: 200;
    font-style: italic;
}

@media (max-width:1024px) {
    header {
        position: absolute;
        background: transparent;
        left: 0;
        top: 48px;
    }

    header menu {
        width: 100vw;
        height: 64px;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: var(--primary-color);
        z-index: 99;
        color: white;
        justify-content: space-evenly;
        font-size: 16px;  
    }

    header li:hover {
        color: var(--primary-color);

    }

    .hero {
        flex-direction: column-reverse;
        align-items: start;
        justify-content: end;
        padding-bottom: 64px;
    }

    .home {
        grid-template-rows: none;
    }

    .home .container_produtos {
        display: none;
    }

    .container_produtos {
        gap: 30px;
    }

    .container_produtos .pizza:nth-child(3),
    .container_produtos .pizza:nth-child(4),
    .container_produtos .pizza:nth-child(5) {
        display: none;
    }

    .container_produtos .pizza {
        width: 100%;
    }

    .container_produtos img {
        width: 100%;
    }

    .pizza.bebida {
        width: auto;
    }

    .opcoes_servicos {
        gap: 20px;
        flex-direction: column;
    }

    .servico_card {
        width: 100%;
        height: 260px;
        flex-wrap: wrap;
        gap: 24px;
    }

    .servico_card p {
        width: 60%;
    }

    .contatos_container {
        flex-wrap: wrap;
        flex-direction: column;
        height: 400px;
        justify-content: center;
    }

    .contatos_item {
        padding: 0px;
    }

    .contatos_item.logo {
        padding-bottom: 30px;
    }

    .contatos_item.social {
        align-items: end;
    }

    .contatos_item:nth-child(2) {
        display: none;
    }
    

    .creditos {
        margin-bottom: 64px;
    }

}

@media (max-width: 768px) {

    header {
        justify-content: space-between;
        padding: 30px;
    }

    section {
        padding: 30px;
    }

    .home {
        background-image: none;
        background-color: #F07807;
        background-image: url(./img/background_mobile.png);
        object-fit: cover;
    }

    .hero {
        justify-content: flex-start;
        padding: 0;
    }

    .hero h2{
        font-size: 32px;
        width: 287px;
    }

    .hero h2 span {
        background-color: var(--secondary-color);
    }

    .hero img {
        display: none;
    }

    .cardapio {
        gap: 20px;
        height: auto;
    }

    .titulo_secao {
        padding-top: 0;
    }

    .cardapio a {
        display: none;
    }

    .cardapio .titulo_opcoes {
        justify-content: center;
    }

    .opcoes_cardapio {
        border-bottom: none;
    }

    .container_produtos .pizza:nth-child(2),
    .container_produtos .pizza:nth-child(6) {
        display: none;
    }

    .pizza.bebida {
        width: 40%;
    }

    .opcoes_cardapio.bebida .container_produtos {
        justify-content: center;
    }

    .servico_card p{
        display: none;
    }

    .contatos_container {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px;
    }

    .contatos_item.social {
        align-items: center;
    }

    .contatos_item.social menu {
        align-items: center;
        padding-top: 20px;
        flex-direction: row;
    }

    .creditos {
        text-align: center;
    }

}